/** General display rules **/
.block_simple_nav .block_tree {margin:5px;padding-left:0px;overflow:visible;}
.block_simple_nav .block_tree li {margin:3px;list-style: none;padding:0;}
.block_simple_nav .block_tree li.item_with_icon > p {position:relative;}
.block_simple_nav .block_tree li.item_with_icon > p img {vertical-align:middle;position:absolute;left:0;top:3px}
.block_simple_nav .block_tree li.item_with_icon.contains_branch > p img {left:0;}
.block_simple_nav .block_tree li.item_with_icon.contains_branch .tree_item {padding-left:18px;}

.block_simple_nav .block_tree li.simple_invisible { margin-left: -12px;}
.block_simple_nav .block_tree li.simple_invisible:first-child > p a { display:none;}

.block_simple_nav .block_tree li ul {padding-left:12px;margin:0;}
.block_simple_nav .block_tree .tree_item {padding-left: 18px;margin:3px 0px;text-align:left;}

.block_simple_nav .block_tree .tree_item.branch {background-image: url([[pix:t/expanded]]);background-position: 0 10%;background-repeat: no-repeat;}
.block_simple_nav .block_tree .tree_item.branch.navigation_node {background-image:none;padding-left:0;}
.block_simple_nav .block_tree .type_activity > .tree_item.branch {background-image:none;position:relative;}
.block_simple_nav .block_tree .type_activity > .tree_item.branch img {position:absolute;left:0;}
.block_simple_nav .block_tree .root_node.leaf {padding-left:0px;}
.block_simple_nav .block_tree .active_tree_node {font-weight:bold;}
.block_simple_nav .block_tree .depth_1.current_branch ul {font-weight:normal;}

.dock .block_simple_nav .tree_item {white-space: nowrap;}

.jsenabled .block_simple_nav .block_tree .tree_item.branch {cursor:pointer;}
.jsenabled .block_simple_nav .block_tree .tree_item.emptybranch {background-image: url([[pix:t/collapsed_empty]]);background-position: 0% 5%;background-repeat: no-repeat;}
.jsenabled .block_simple_nav .block_tree .collapsed ul {display: none;}
.jsenabled .block_simple_nav .block_tree .collapsed .tree_item.branch {background-image: url([[pix:t/collapsed]]);}
.jsenabled .block_simple_nav .block_tree .tree_item.branch.loadingbranch {background-image:url([[pix:i/loading_small]]);}

/** JavaScript state rules **/
.jsenabled .block_simple_nav.dock_on_load,
.block_simple_nav .block_tree_box .requiresjs {display:none;}
.jsenabled .block_simple_nav .block_tree_box .requiresjs {display:inline;}

/** Internet explorer specific rules **/
.ie6 .block_simple_nav .block_tree .tree_item {width:100%;}

/** Overide for RTL layout **/
.dir-rtl .block_simple_nav .block_tree li.depth_2 ul {padding-left:0;padding-right: 7px;}
.dir-rtl .block_simple_nav .block_tree .tree_item {padding-right: 18px;text-align:right;}

.dir-rtl .block_simple_nav .block_tree .tree_item.branch {background-position: center right;}

.dir-rtl .block_simple_nav .block_tree,
.dir-rtl .block_simple_nav .block_tree li ul,
.dir-rtl .block_simple_nav .block_tree .navigation_node.tree_item.branch,
.dir-rtl .block_simple_nav .block_tree .root_node.leaf {padding-right:0;}

.dir-rtl .block_simple_nav .block_tree li.item_with_icon > p img,
.dir-rtl .block_simple_nav .block_tree .type_activity > .tree_item.branch img {right:0;left:auto;}

.jsenabled.dir-rtl .block_simple_nav .block_tree .tree_item.emptybranch {background-image: url([[pix:t/collapsed_empty_rtl]]);background-position: center right;}
.jsenabled.dir-rtl .block_simple_nav .block_tree .collapsed .tree_item.branch {background-image: url([[pix:t/collapsed_rtl]]);}

div#fitem_id_nosubmit_checkbox_controllergroup1 .fsubmit, div#fitem_id_nosubmit_checkbox_controllergroup2 .fsubmit{
	text-align: left;
}

